@model DMD_Prototype.Controllers.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        font-family: 'Franklin Gothic', sans-serif;
        font-weight: 500;
    }

    .btn,
    .card,
    .button,
    .text-center,
    .card-title,
    .card-header {
        font-family: 'Franklin Gothic', sans-serif;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container-fluid row mx-0">
    <div class="flex-column col-sm-12 col-md-8 mb-2">
        <form asp-controller="" asp-action="">
            <div class="w-100 d-flex">
                <div class="w-25">
                    <select class="form-select">
                        <option value="" selected hidden>Select Category</option>
                        <option>PNP HEAD MX</option>
                        <option>JLP</option>
                        <option>JTP</option>
                        <option>OLB</option>
                        <option>TERADYNE</option>
                        <option>SPARES</option>
                    </select>
                </div>
                <div class="w-75">
                    <input class="form-control" type="search" placeholder="Search document" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card border-2 border-dark h-100 mt-2" style="background-color:#E9E4E9">
                    <h4 class="card-header text-center border-2 border-dark" style="background-color:#B5AD9A;font-size:30px; font-family:'Franklin Gothic'">Documents Lists</h4>
                    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-evenly">
                        <div class="w-75 mx-auto h-auto">
                            <a class="w-100 btn btn-primary border-2 border-dark" style="font-size:20px" asp-controller="Home" asp-action="MTIList" asp-route-whichDoc="PNP">PNP HEAD MX</a>
                        </div>
                        <div class="w-75 mx-auto h-auto">
                            <a class="w-100 btn btn-primary border-2 border-dark" style="font-size:20px" asp-controller="Home" asp-action="MTIList" asp-route-whichDoc="JLP">JLP</a>
                        </div>
                        <div class="w-75 mx-auto h-auto">
                            <a class="w-100 btn btn-primary border-2 border-dark" style="font-size:20px" asp-controller="Home" asp-action="MTIList" asp-route-whichDoc="JTP">JTP</a>
                        </div>
                        <div class="w-75 mx-auto h-auto">
                            <a class="w-100 btn btn-primary border-2 border-dark" style="font-size:20px" asp-controller="Home" asp-action="MTIList" asp-route-whichDoc="OLB">OLB</a>
                        </div>
                        <div class="w-75 mx-auto h-auto">
                            <a class="w-100 btn btn-primary border-2 border-dark" style="font-size:20px" asp-controller="Home" asp-action="MTIList" asp-route-whichDoc="TERADYNE">TERADYNE</a>
                        </div>
                        <div class="w-75 mx-auto h-auto">
                            <a class="w-100 btn btn-primary border-2 border-dark" style="font-size:20px" asp-controller="Home" asp-action="MTIList" asp-route-whichDoc="SPARES">SPARES</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card border-2 border-dark h-100 mt-2" style="background-color:#E9E4E9">
                    <h4 class="card-header text-center border-2 border-dark" style="background-color:#B5AD9A;font-size:30px">Documents Statuses</h4>
                    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-around">
                        <div class="card w-75 border-2 border-dark">
                            <div class="card-header text-white border-2 border-dark" style="background-color:darkslateblue">
                                <p class="card-title text-center">Uploaded Documents</p>
                            </div>
                            <div class="card-body">
                                <p class="text-center" style="font-size:30px">@Model.ControlledVal</p>
                            </div>
                        </div>
                        <div class="card w-75 border-2 border-dark">
                            <div class="card-header text-white border-2 border-dark" style="background-color:darkslateblue">
                                <p class="card-title text-center">Interim Documents</p>
                            </div>
                            <div class="card-body">
                                <p class="text-center" style="font-size:30px">@Model.InterimVal</p>
                            </div>
                        </div>
                        <div class="card w-75 border-2 border-dark mb-sm-2">
                            <div class="card-header text-white border-2 border-dark" style="background-color:darkslateblue">
                                <p class="card-title text-center">Obsolete Documents</p>
                            </div>
                            <div class="card-body">
                                <p class="text-center" style="font-size:30px">@Model.ObsoleteVal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-column col-sm-12 col-md-4">
        <div class="w-100 mb-2">
            <div class="card w-100 border-2 border-dark" style="background-color:#E9E4E9">
                <h4 class="card-header text-center border-2 border-dark" style="background-color:#B5AD9A">Problem Log</h4>
                <div>
                    <canvas id="bar"></canvas>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="card w-100 h-auto border-2 border-dark" style="background-color:#E9E4E9">
                <h4 class="card-header text-center border-2 border-dark" style="background-color:#B5AD9A">Some chart</h4>
                <div class="d-flex justify-content-center">
                    <canvas id="pieChartValid" class="h-50 w-50"></canvas>             
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var months = ["JLP", "JTP", "PNP", "OLB"];
        var bgiv = '';
        var bgv = '#F57653';

        var ctx = document.getElementById('bar').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [
                    {
                        label: 'Problem Log Count',
                        data: [@Model.JLPVal, @Model.JTPVal, @Model.PNPVal, @Model.OLBVal],
                        backgroundColor: bgv,
                        borderColor: 'black',
                        borderWidth: 0,
                        pointStyle: 'rect'
                    },
                ],
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        grid: {},
                        ticks: {
                            color: 'black',
                            precision: 0,
                            max: Math.max(...[3, 6, 1, 2], ...[3, 6, 1, 2]) + 2,
                        },
                        title: {
                            color: 'black',
                            display: true,
                            text: ''
                        },
                    },
                    x: {
                        ticks: {
                            color: 'black',
                        }
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                        }
                    }
                }
            }
        });
    });

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var data = [1, 2];
        var labels = ['Complete', 'Incomplete'];

        var pp = document.getElementById('pieChartValid').getContext('2d');
        var piechart = new Chart(pp, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            '#2BC58B',
                            '#F57653'
                        ],
                        borderColor: [
                            'black'
                        ],
                        borderWidth: 2,
                        pointStyle: 'circle'
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                        }
                    }
                },

            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var data = [1, 2, 3, 4];
        var labels = ['Function', 'Form', 'Fit', 'Safety'];

        var fs = document.getElementById('fs').getContext('2d');
        var fsChart = new Chart(fs, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            '#E83800',
                            '#3BD1B8',
                            '#ACEB63',
                            '#FFF85E'
                        ],
                        borderColor: [
                            'black'
                        ],
                        borderWidth: 2,
                        pointStyle: 'circle'
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                        }
                    }
                }
            }
        });
    });
</script>

<script>
    function submitForm() {
        document.getElementById("myForm").submit();
    }
</script>
