@model DMD_Prototype.Controllers.MTIListModel

@{
    ViewData["Title"] = "Engineering Documents";
    string[] accData = TempData["EN"] as string[];
    string prod = TempData["Subj"] as string;
    string doc = TempData["DocType"] as string ?? "MPI";
    string viewType = "View";
    string viewColorType = "btn-primary";
    TempData.Keep();

    if (accData[1] == "USER")
    {
        viewType = "WORK";
        viewColorType = "btn-warning";
    }
}

<div class="container flex-column">
    <div class="w-100 d-flex justify-content-start">
        @if (accData[1] == "ADMIN" || accData[1] == "ORIGINATOR")
        {
            <div>
                <a class="btn btn-success" asp-controller="MTI" asp-action="CreateMTIView">Add Document</a>
            </div>
        }
        <div class="mx-2">
            <form asp-controller="Home" asp-action="MTIList" id="doctypeselect">
                <input value="@prod" name="whichDoc" hidden />
                <select class="form-select" name="whichType" onchange="document.getElementById('doctypeselect').submit()">
                    <option value="" selected hidden>@doc</option>
                    <option>MPI</option>
                    <option>MTI</option>
                </select>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center" id="myTable">
            <thead class="table-primary text-nowrap">
                <tr>
                    <th>
                        Doc. #
                    </th>
                    <th>
                        Assembly P/N
                    </th>
                    <th>
                        Assembly Desc.
                    </th>
                    <th>
                        Rev. #
                    </th>
                    <th>
                        Date Created
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.list)
                {
                    if(item.ObsoleteStat)
                    {
                        continue;
                    }

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssemblyPN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssemblyDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RevNo)
                        </td>
                        <td>
                            @item.DateCreated.ToShortDateString()
                        </td>
                        <td>
                            <div class="d-flex text-nowrap justify-content-center">
                                <a class="btn @viewColorType" asp-controller="MTI" asp-action="MTIView" asp-route-docuNumber="@item.DocumentNumber">@viewType</a>

                                @if (accData[1] == "ADMIN" || (accData[1] == "ORIGINATOR" && item.OriginatorName == accData[2]))
                                {                                   
                                    <button class="btn btn-success mx-3" data-bs-toggle="modal" data-bs-target="#editDetModal" onclick="SetDets('@item.DocumentNumber', '@item.AssemblyPN', '@item.AssemblyDesc', '@item.RevNo', '@item.AfterTravLog', '@item.LogsheetDocNo', '@item.LogsheetRevNo', '@item.DocType')">Edit Details</button>
                                    <a class="btn btn-secondary" asp-controller="MTI" asp-action="EditDocumentView" asp-route-docuNo="@item.DocumentNumber">Update Documents</a>
                                }

                                @if (accData[1] == "ADMIN")
                                {
                                    <button type="button" class="btn btn-warning mx-3" data-bs-toggle="modal" data-bs-target="#changeownermodal" onclick="OrigName('@item.OriginatorName', '@item.DocumentNumber')">Transfer Owner</button>
                                }

                                <script>
                                    function SetDets(doc, assypn, assydesc, rev, after, logDoc, logRev, dtype)
                                    {
                                        if (after === 'T')
                                        {
                                            document.getElementById('editDetLogType').innerHTML = 'Test Equipment Log';
                                        }
                                        else if (after === 'C')
                                        {
                                            document.getElementById('editDetLogType').innerHTML = 'Configuration Log';
                                        }
                                        else
                                        {
                                            document.getElementById('editDetLogType').innerHTML = 'None';
                                            document.getElementById('editDetLogDocNo').removeAttribute('required');
                                            document.getElementById('editDetLogRevNo').removeAttribute('required');
                                            document.getElementById('logDocDiv').style.display = 'none';
                                            document.getElementById('logRevDiv').style.display = 'none';
                                        }

                                        document.getElementById('editDetDocNo').value = doc;
                                        document.getElementById('editDetAssyPN').value = assypn;
                                        document.getElementById('editDetAssyDesc').value = assydesc
                                        document.getElementById('editDetRevNo').value = rev;
                                        document.getElementById('editDetLogType').value = after;
                                        document.getElementById('editDetLogDocNo').value = logDoc;
                                        document.getElementById('editDetLogRevNo').value = logRev;
                                        document.getElementById('editDetDocType').value = dtype;
                                    }
                                </script>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function OrigName(userId, docno)
    {
        $(function () {
            $.ajax({
                url: '@Url.Action("GetOrigName", "Home")',
                data: {userId: userId},
                success: function (response) {
                    document.getElementById('currentowner').innerHTML = response.Name;
                    $('#coDocNoo').val(docno);
                }
            });
        });
    }
</script>

<div class="modal fade" data-bs-backdrop="static" id="changeownermodal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 fw-bold">Change Owner</p>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-controller="MTI" asp-action="ChangeDocOwner">
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label class="form-label">Document No.</label>
                            <input class="form-control" id="coDocNoo" name="docNo" required readonly />
                        </div>
                        <div class="mx-1"></div>
                        <div>
                            <label class="form-label">Owner</label>
                            <select class="form-select" name="docOwner">
                                <option id="currentowner" selected hidden></option>
                                @foreach (string orig in Model.Originators)
                                {
                                    <option>@orig</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="editDetModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 fw-bold">Edit Document Details</p>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-controller="MTI" asp-action="EditDocumentDetails">
            <input name="DocType" value="" id="editDetDocType" hidden required/>
                <div class="modal-body row">
                    <div class="col-6">
                        <div>
                            <label class="form-label">Document Number</label>
                            <input class="form-control" name="DocumentNumber" value="" id="editDetDocNo" required readonly />
                        </div>
                        <div>
                            <label class="form-label">Assembly Part Number</label>
                            <input class="form-control" name="AssemblyPN" value="" id="editDetAssyPN" required />
                        </div>
                        <div>
                            <label class="form-label">Assembly Description</label>
                            <input class="form-control" name="AssemblyDesc" value="" id="editDetAssyDesc" required />
                        </div>
                        <div>
                            <label class="form-label">Revision Number</label>
                            <input class="form-control" name="RevNo" value="" id="editDetRevNo" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <label class="form-label">Logsheet Type</label>
                            <select class="form-select" name="AfterTravLog" onchange="ChangeLogType(this.value)" required>
                                <option id="editDetLogType" selected hidden></option>
                                <option value="N">None</option>
                                <option value="C">Configuration Log</option>
                                <option value="T">Test Equipment Log</option>
                            </select>
                            <script>
                                function ChangeLogType(logType) {
                                    if (logType === 'N') {
                                        document.getElementById('logDocDiv').style.display = 'none';
                                        document.getElementById('logRevDiv').style.display = 'none';
                                        document.getElementById('editDetLogDocNo').removeAttribute('required');
                                        document.getElementById('editDetLogRevNo').removeAttribute('required');
                                        document.getElementById('editDetLogDocNo').value = '';
                                        document.getElementById('editDetLogRevNo').value = '';
                                    }
                                    else {
                                        document.getElementById('logDocDiv').style.display = 'block';
                                        document.getElementById('logRevDiv').style.display = 'block';
                                        document.getElementById('editDetLogDocNo').setAttribute('required', 'true');
                                        document.getElementById('editDetLogRevNo').setAttribute('required', 'true');
                                    }
                                }
                            </script>
                        </div>
                        <div id="logDocDiv">
                            <label class="form-label">Logsheet Document Control Number</label>
                            <input class="form-control" name="LogsheetDocNo" value="" id="editDetLogDocNo" required />
                        </div>
                        <div id="logRevDiv">
                            <label class="form-label">Logsheet Revision Number</label>
                            <input class="form-control" name="LogsheetRevNo" value="" id="editDetLogRevNo" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: true,
                lengthChange: false,
                pageLength: 7,
                order: [],
                ordering: false
            });
        });
    </script>
}
