@model IEnumerable<MTIModel>

@{
    ViewData["Title"] = "Engineering Documents";
    string[] accData = TempData["EN"] as string[];
    string prod = TempData["Subj"] as string;
    string doc = TempData["DocType"] as string ?? "MPI";
    TempData.Keep();
}

<div class="container flex-column">
    <div class="w-100 d-flex justify-content-start">
        @if (accData[1] == "ADMIN" || accData[1] == "ORIGINATOR")
        {
            <div>
                <a class="btn btn-success" asp-controller="MTI" asp-action="CreateMTIView">Add Document</a>
            </div>
        }
        <div class="mx-2">
            <form asp-controller="Home" asp-action="MTIList" id="doctypeselect">
                <input value="@prod" name="whichDoc" hidden />
                <select class="form-select" name="whichType" onchange="document.getElementById('doctypeselect').submit()">
                    <option value="" selected hidden>@doc</option>
                    <option>MPI</option>
                    <option>MTI</option>
                </select>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center" id="myTable">
            <thead>
                <tr>
                    <th>
                        Doc. #
                    </th>
                    <th>
                        Assembly P/N
                    </th>
                    <th>
                        Assembly Desc.
                    </th>
                    <th>
                        Rev. #
                    </th>
                    <th>
                        Date Created
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssemblyPN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssemblyDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RevNo)
                        </td>
                        <td>
                            @item.DateCreated.ToShortDateString()
                        </td>
                        <td>
                            <div class="d-flex">
                                <a class="btn btn-primary w-100" asp-controller="MTI" asp-action="MTIView" asp-route-docuNumber="@item.DocumentNumber">View</a>
                                @if (accData[1] == "ADMIN" || accData[1] == "ORIGINATOR")
                                {
                                    <a class="btn btn-success w-100 mx-2" asp-controller="MTI" asp-action="EditDocumentView" asp-route-docuNo="@item.DocumentNumber">Edit</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts {
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: true,
                lengthChange: false,
                pageLength: 7,
                order: [],
                ordering: false
            });
        });
    </script>
}