@model DMD_Prototype.Controllers.TravelerViewModel

@{
    ViewData["Title"] = "Travelers";
    string[] EN = TempData["EN"] as string[];
    TempData.Keep();
}

@section scripts {
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#travtable').DataTable({
                searching: true,
                lengthChange: false,
                pageLength: 7,
                order: [],
                ordering: false
            });
        });
    </script>
}

<div class="container">
    <div class="table-responsive">
        <table class="table table-hover text-center" id="travtable">
            <thead class="table-primary">
                <tr>
                    <th>
                        Document Number
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Finished Date
                    </th>
                    <th>
                        Technician
                    </th>
                    <th class="w-25">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Traveler.OrderByDescending(j => j.StartDate))
                {
                    string finishedDate = "Not Finished yet";

                    if (item.FinishDate != null)
                    {
                        finishedDate = item.FinishDate.Value.ToShortDateString();
                    }

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocNo)
                        </td>
                        <td>
                            @item.StartDate.ToShortDateString()
                        </td>
                        <td>
                            @{
                                Write(finishedDate);
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserID)
                        </td>
                        <td>
                            <div class="d-flex text-nowrap">
                                <button class="btn btn-success" type="button" onclick="OpenExcel('@item.SessionID')">View</button>

                                @if (item.FinishDate != null && (EN[1] == "ADMIN" || EN[1] == "ORIGINATOR"))
                                {
                                    <a asp-controller="Document" asp-action="DownloadTraveler" asp-route-sessionId="@item.SessionID" class="btn btn-primary mx-2">Download Trav</a>
                                }

                                @if (item.FinishDate != null && (EN[1] == "ADMIN" || EN[1] == "ORIGINATOR") && item.LogType != "N")
                                {
                                    string logtype;
                                    if (item.LogType == "C") logtype = "CL"; else logtype = "TEL";
                                    <a asp-controller="Document" asp-action="DownloadLogsheet" asp-route-sessionId="@item.SessionID" class="btn btn-warning">Download @{Write(logtype);}</a>                                
                                }

                                @if (EN[1] == "ADMIN" && item.FinishDate == null)
                                {
                                    <button class="btn btn-secondary mx-2" data-bs-toggle="modal" data-bs-target="#changeworker" onclick="ChangeTravWorker('@item.UserID', '@item.SWID')">Transfer Work</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function ChangeTravWorker(prevworker, id)
    {
        @*$(function () {
            $.ajax({
                url: '@Url.Action("GetOrigName", "Home")',
                data: {userId: prevworker},
                success: function (response)
                {
                    document.getElementById('currentWorker').value = response.Name;
                }
            });
        });*@
        document.getElementById('travID').value = id;
        document.getElementById('currentWorker').value = prevworker;
        document.getElementById('currentworkerselect').innerHTML = prevworker;
    }
</script>

<div class="modal fade" data-bs-backdrop="static" id="changeworker">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5 fw-bold">Transfer Work</p>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-controller="Traveler" asp-action="ChangeTravWorker">
                <input id="travID" name="ID" hidden/>
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label class="form-label">Current Worker</label>
                            <input class="form-control" value="" id="currentWorker"/>
                        </div>
                        <div>
                            <label class="form-label">Update Worker</label>
                            <select class="form-select" name="toWorker">
                                <option id="currentworkerselect" hidden selected></option>
                                @foreach (string name in Model.Users)
                                {
                                    <option>@name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function OpenExcel(sesId)
    {
        $(function () {
            $.ajax({
                url: '@Url.Action("OpenExcelFile", "DocGenerator")',
                data: { sessionId: sesId, user: '@EN[1]'},
                success: function (response) {

                },
                error: function (response){

                }
            });
                
        });
    }
</script>
