@model MTIModel
@using System.IO;

@{
    ViewData["Title"] = "Edit Engineering Documents";
}
<br />
<form asp-controller="MTI" asp-action="EditDocument" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header w-100 fw-bold text-center">
                    Engineering Documents
                </div>
                <div class="card-body w-100 row ">
                    <div class="">
                        <div class="d-flex justify-content-evenly my-3">
                            <div>
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th>
                                                Document No.
                                            </th>
                                            <th>
                                                Assembly No.
                                            </th>
                                            <th>
                                                Assembly Desc.
                                            </th>
                                            <th>
                                                Revision No.
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input class="form-control" value="@Model.DocumentNumber" name="docuno" readonly />
                                            </td>
                                            <td>
                                                <input class="form-control" value="@Model.AssemblyPN" name="assyno" required />
                                            </td>
                                            <td>
                                                <input class="form-control" value="@Model.AssemblyDesc" name="assydesc" required />
                                            </td>
                                            <td>
                                                <input class="form-control" value="@Model.RevNo" name="revno" required />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="flex-column">
                                    <label class="w-100 text-center text-nowrap">MPI/MTI: </label>
                                    <input class="form-control w-100" type="file" name="mpti" accept=".pdf" />
                                </div>
                                <div class="flex-column">
                                    <label class="w-100 text-center text-nowrap">BOM: </label>
                                    <input class="form-control" type="file" name="bom" accept=".pdf" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="flex-column">
                                    <label class="w-100 text-center text-nowrap">Assy Draw.: </label>
                                    <input class="form-control" type="file" name="drawing" accept=".pdf" />
                                </div>
                                <div class="flex-column">
                                    <label class="w-100 text-center text-nowrap">Schem Diag: </label>
                                    <input class="form-control" type="file" name="schema" accept=".pdf" />
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card h-100">
                <div class="card-header w-100 fw-bold text-center">
                    Deviation Documents
                </div>
                <div class="card-body">
                    <div>
                        <label class="form-label">One Point Lesson</label>
                        <button class="form-control btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#deviationModal">Show all</button>
                    </div>
                    <div>
                        <label class="form-label">Derogation</label>
                        <button class="form-control btn btn-primary" type="button">Show all</button>
                    </div>
                     <div>
                        <label class="form-label">PRCO</label>
                        <button class="form-control btn btn-primary" type="button">Show all</button>
                    </div>
                    <div>
                        <label class="form-label">Memo</label>
                        <button class="form-control btn btn-primary" type="button">Show all</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card h-100">
                <div class="card-header w-100 fw-bold text-center">
                    More
                </div>
                <div class="card-body">
                    <div>
                        <label class="form-label">Traveler</label>
                        <input class="form-control" type="file" name="travFile"/>
                    </div>
                    <div>
                        <label class="form-label">Logsheet</label>
                        <select class="form-select" name="logType" onchange="ChangeLogType(this.value)">
                            @{
                                string currentAL;

                                switch (Model.AfterTravLog)
                                {
                                    case "T":
                                        {
                                            currentAL = "TEST EQUIPMENT LOG";
                                            break;
                                        }
                                    case "C":
                                        {
                                            currentAL = "CONFIGURATION LOG";
                                            break;
                                        }
                                    default:
                                        {
                                            currentAL = "NONE";
                                            break;
                                        }
                                }
                            }
                            <option value="@Model.AfterTravLog" selected hidden>@currentAL</option>
                            <option value="N">None</option>
                            <option value="T">TEST EQUIPMENT LOG</option>
                            <option value="C">CONFIGURATION LOG</option>
                        </select>
                    </div>
                    <div id="logsheetstuff" class="flex-column">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-evenly">
            <input class="w-auto btn btn-primary" type="submit" />
        </div>
    </div>   
</form>

<div class="modal fade" data-bs-backdrop="static" id="deviationModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title text-center">One Pont Lesson</p>
                <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="flex-column">
                    @{
                        int counter = 1;
                        foreach (string path in ViewData["opl"] as List<string>)
                        {
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary w-75" type="button" onclick="OpenPDF('@path')">
                                    @{
                                        Write(counter.ToString());
                                    }
                                </button>

                                <button class="btn btn-danger" type="button">Delete</button>
                            </div>
                            counter++;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="showPdf">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p id="docTit"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <iframe id="showPdfIframe"></iframe>
            </div>
        </div>
    </div>
</div>

<script>
    function OpenPDF(path)
    {
        var frame = document.getElementById('showPdfIframe');
        frame.src = '@Url.Action("ShowPdf", "UniversalFunctions")';
    }

    window.onload = function ()
    {
        ChangeLogType('@Model.AfterTravLog');
    };

    function ChangeLogType(str)
    {
        var lgstuff = document.getElementById('logsheetstuff');

        if (str !== "N")
        {
            lgstuff.innerHTML = '<div class="flex-column"><label class="form-label">Document Control Number</label><input class="form-control" name="docctrlno" value="@Model.LogsheetDocNo" required/></div>';
            lgstuff.innerHTML += '<div class="flex-column"><label class="form-label">Revision Number</label><input class="form-control" name="revnono" value="@Model.LogsheetRevNo" required/></div>';
        }
        else
        {
            lgstuff.innerHTML = ' ';
        }
    }
</script>
