@model DMD_Prototype.Controllers.MTIViewModel
@{
    ViewData["Title"] = "EditDocumentView";
}
<form asp-controller="MTI" asp-action="EditDocument" enctype="multipart/form-data">
<div class="card w-100">
    <div>
        <p class="card-header text-center">Upload edited documents or simply add deviation documents.</p>
    </div>
    <div class="card-body w-100 row ">
        <div class="col-md-12 col-lg-6">
            <div class="d-flex justify-content-evenly my-3">
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">Doc#: </label>
                    <input class="form-control" value="@Model.DocumentNumber" name="docuno" readonly />
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">Assy#: </label>
                    <input class="form-control" value="@Model.AssyNo" name="assyno" required/>
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">Assy Desc: </label>
                    <input class="form-control" value="@Model.AssyDesc" name="assydesc" required/>
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">Rev#: </label>
                    <input class="form-control" value="@Model.RevNo" name="revno" required/>
                </div>
            </div>
            <div class="d-flex justify-content-evenly my-3">
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">MPI/MTI: </label>
                    <input class="form-control w-100" type="file" name="mpti" accept=".pdf"/>
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">BOM: </label>
                        <input class="form-control" type="file" name="bom" accept=".pdf" />
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">Assy Draw.: </label>
                        <input class="form-control" type="file" name="drawing" accept=".pdf" />
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">Schem Diag: </label>
                        <input class="form-control" type="file" name="schema" accept=".pdf" />
                </div>
            </div>
            <div class="d-flex justify-content-evenly my-3">
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">O.P.L: </label>
                        <input class="form-control w-100" type="file" name="opl" accept=".pdf" multiple />
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">Derogation: </label>
                        <input class="form-control" type="file" name="derogation" accept=".pdf" multiple />
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">P.R.C.O: </label>
                        <input class="form-control" type="file" name="prco" accept=".pdf" multiple />
                </div>
                <div class="flex-column">
                    <label class="w-100 text-center text-nowrap">Engineering Memo: </label>
                        <input class="form-control" type="file" name="memo" accept=".pdf" multiple />
                </div>
            </div>
            <div class="d-flex justify-content-evenly my-3">
                <div class="align-self-end w-100 d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit"/>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card h-100" style="min-height:450px; max-height:470px">
                <div class="card-header text-center">
                    <p class="">Traveler</p>
                </div>
                <div class="overflow-scroll">
                    <div class="w-100 d-flex justify-content-end">
                        <input class="form-control w-25 mx-2" type="number" id="range" value="1" />
                        <button class="btn btn-primary my-auto" type="button" onclick="addRows()">+</button>
                    </div>
                    <table id="instable" class="table table-bordered table-hover text-center">
                        <thead class="thead position-sticky top-0">
                            <tr class="">
                                <th>
                                    Step No
                                </th>
                                <th>
                                    Task
                                </th>
                                <th>
                                    Cell Division
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.Travelers.OrderBy(j => j.StepNumber))
                            {
                                <tr>
                                    <td>
                                        <input class="form-control" value="@item.StepNumber" name="stepno" required/>
                                    </td>
                                    <td>
                                        <input class="form-control" value="@item.Instruction" name="task" required/>
                                    </td>
                                    <td>
                                       <select class="form-select" name="division">
                                           <option selected hidden value="@item.ByThree">
                                               @if(item.ByThree == "t")
                                                {
                                                    Write("Three");
                                                }
                                                else
                                                {
                                                    Write("Single");
                                                }
                                            </option>
                                           <option value="s">Single</option>
                                           <option value="t">Three</option>
                                       </select>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script>
    function addRows() {
        var tab = document.getElementById('instable');
        var range = document.getElementById('range').value;

        for (var i = 1; i <= range; i++) {
            var row = tab.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);

            cell1.innerHTML = '<input class="form-control w-100" type="number" name="stepno"/>';
            cell2.innerHTML = '<input class="form-control w-100" type="text" name="task"/>';
            cell3.innerHTML = '<div class="d-flex justify-content-around"><select class="form-select" name="division"><option value="false">Single</option><option value="true">Three</option></select></div>';
        }
    }
</script>
