@model DMD_Prototype.Controllers.MTIViewModel
@{
    Layout = null;
    ViewData["Title"] = "View Documents";
    string[] EN = TempData["EN"] as string[];
    TempData.Keep();
    int counter;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATS Engineering</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="w-100">
            <div class="row bg-primary" style="height:60px">
                <div class="col-1 align-self-center d-flex justify-content-center">
                    @if (!Model.WorkingStat)
                    {
                        <a class="btn btn-secondary mx-1" asp-controller="Home" asp-action="Index">
                            <div class="d-flex justify-content-between align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
                                </svg>
                                <div class="mx-2">
                                    Back
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-7 d-flex justify-content-center align-self-center border-3 border-dark bg-dark ">
                    <marquee class="border-3 border-dark bg-dark text-white">Please follow the steps of your MPI alongside your traveler, have a great day!</marquee>
                </div>
                <div class="col-4 d-flex justify-content-around">
                    <div class="align-self-center">
                        @{
                            if (EN[1] == "USER")
                            {
                                if (Model.WorkingStat)
                                {
                                    <button class="btn btn-success" data-bs-target="#pausemodal" data-bs-toggle="modal">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-btn-fill" viewBox="0 0 16 16">
                                                <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.25-7C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z" />
                                            </svg>
                                            <div class="mx-2">
                                                Pause
                                            </div>
                                        </div>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-success" type="button" data-bs-target="#confirmStart" data-bs-toggle="modal">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-start-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM9.71 5.093 7 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407v-5a.5.5 0 0 0-.79-.407z" />
                                            </svg>
                                            <div class="mx-2">
                                                Start
                                            </div>
                                        </div>
                                    </button>
                                }
                            }
                        }
                    </div>
                    
                    <div class="align-self-center">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#travmodal">
                            <div class="d-flex justify-content-between align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                                    <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z" />
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z" />
                                </svg>
                                <div class="mx-2">
                                    Traveler
                                </div>
                            </div>                           
                        </button>
                    </div>
                    <div class="align-self-center">
                        <button type="button" class="btn btn-danger text-nowrap" data-bs-toggle="modal" data-bs-target="#problemlogForm">
                            <div class="d-flex justify-content-between align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-exclamation-fill" viewBox="0 0 16 16">
                                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
                                </svg>
                                <div class="mx-2">
                                    Problem Log
                                </div>
                            </div>                            
                        </button>
                    </div>
                    <div class=" align-self-center">
                        <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <div class="d-flex justify-content-between align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                                <div class="mx-2">
                                    Docs
                                </div>
                            </div>                 
                        </button>
                    </div>                   
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <iframe class="w-100 border-3 border-dark" id="MainDoc" style="max-height:660px; min-height:660px" src="@Url.Action("ShowDoc", "MTI", new {docunumber = Model.DocumentNumber, whichDoc = "MainDoc"})">Document</iframe>
    </div>

    <div class="modal fade" id="confirmStart" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header w-100 d-flex justify-content-center">
                    <p class="modal-title fs-5">Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between w-100">
                        <div>
                            <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        </div>
                        <div>
                            <a class="btn btn-success" asp-controller="Work" asp-action="StartWork" asp-route-docNo="@Model.DocumentNumber" asp-route-EN="@EN[0]">Proceed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end border-3 shadow" style="z-index:2001; background-color:#B5AD9A" data-bs-backdrop="static" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header bg-primary border-5 border-dark">
            <div class="d-flex justify-content-center w-100">
                <h5 class="offcanvas-title text-center text-white fw-bolder" id="offcanvasExampleLabel">Documents</h5>
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="closeoffcanvas"></button>
        </div>
        <div class="offcanvas-body overflow-auto flex-column">
            <div class="w-100 h-100">
                <div class="card border-3 border-dark">
                    <div class="card-header text-white border-3 border-dark" style="background-color:darkslateblue">
                        <h4 class="card-title text-center">Primary Docs</h4>
                    </div>
                    <div class="card-body row">
                        <button class="w-75 my-1 mx-auto btn btn-primary border-1 border-dark" onclick="SetDoc('AssyDrawing')" data-bs-toggle="modal" data-bs-target="#docuFrame">Assembly Drawing</button>
                        <button class="w-75 my-1 mx-auto btn btn-primary border-1 border-dark" onclick="SetDoc('BOM')" data-bs-toggle="modal" data-bs-target="#docuFrame">Bills of Materials</button>
                        <button class="w-75 my-1 mx-auto btn btn-primary border-1 border-dark" onclick="SetDoc('SchematicDiag')" data-bs-toggle="modal" data-bs-target="#docuFrame">Schematic Diagram</button>
                        <button class="w-75 my-1 mx-auto btn btn-primary border-1 border-dark" onclick="" data-bs-toggle="modal" data-bs-target="#docuFrame">Workmanship Standard (MPI)</button>
                    </div>
                </div>
                <div class="card mt-1 border-3 border-dark">
                    <div class="card-header text-white border-3 border-dark" style="background-color:darkslateblue">
                        <h4 class="card-title text-center">One Point Lesson/s</h4>
                    </div>
                    <div class="card-body row">
                        @{
                            counter = 0;
                            foreach (string opl in Model.Opl)
                            {
                                <button class="w-75 my-1 mx-auto btn btn-primary border-1 border-dark" onclick="WhichDev('@opl')" data-bs-toggle="modal" data-bs-target="#docuFrame">One Point Lesson @counter</button>
                                counter++;
                            }
                        }                     
                    </div>                
                </div>
                <div class="card mt-1 border-3 border-dark">
                    <div class="card-header text-white border-3 border-dark" style="background-color:darkslateblue">
                        <h4 class="card-title text-center">PRCO/s</h4>
                    </div>
                    <div class="card-body row">
                        @{
                            counter = 0;
                            foreach (string prco in Model.Prco)
                            {
                                <button class="w-75 my-1 mx-auto btn btn-primary border-1 border-dark" onclick="WhichDev('@prco')" data-bs-toggle="modal" data-bs-target="#docuFrame">PRCO @counter</button>
                                counter++;
                            }
                        }                    
                    </div>
                </div>
                <div class="card mt-1 border-3 border-dark">
                    <div class="card-header text-white border-3 border-dark" style="background-color:darkslateblue">
                        <h4 class="card-title text-center">Derogation/s</h4>
                    </div>
                    <div class="card-body row">
                        @{
                            counter = 0;
                            foreach (string dero in Model.Derogation)
                            {
                                <button class="w-75 my-1 mx-auto btn btn-primary border-1 border-dark" onclick="WhichDev('@dero')" data-bs-toggle="modal" data-bs-target="#docuFrame">Derogation @counter</button>
                                counter++;
                            }
                        }
                    </div>
                </div>
                <div class="card mt-1 border-3 border-dark">
                    <div class="card-header text-white border-3 border-dark" style="background-color:darkslateblue">
                        <h4 class="card-title text-center">Engineering Memo/s</h4>
                    </div>
                    <div class="card-body row">
                        @{
                            counter = 0;
                            foreach (string memo in Model.Memo)
                            {
                                <button class="w-75 my-1 mx-auto btn btn-primary border-1 border-dark" onclick="WhichDev('@memo')" data-bs-toggle="modal" data-bs-target="#docuFrame">Engineering Memo @counter</button>
                                counter++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="travmodal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="traveler">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="traveler">Traveler</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="table table-hover table-bordered">
                            <thead class="table-primary">
                                <tr>
                                    <th class="text-nowrap">
                                        Step No.
                                    </th>
                                    <th>
                                        Task
                                    </th>
                                    <th>
                                        Input
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (!Model.WorkingStat)
                                {
                                    foreach (TravelerModel trav in Model.Travelers.OrderBy(j => j.StepNumber))
                                    {
                                        <tr>
                                            <td>
                                                @trav.StepNumber
                                            </td>
                                            <td>
                                                @trav.Instruction
                                            </td>
                                            <td>
                                                @if (trav.ByThree == "t")
                                                {
                                                    <div class="d-flex">
                                                        <input class="form-control border-2 border-dark" />
                                                        <input class="form-control border-2 border-dark mx-2" />
                                                        <input class="form-control border-2 border-dark" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <input class="form-control w-100 border-2 border-dark" />
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <form id="travform" asp-controller="Work" asp-action="SubmitTraveler">
                                    <tr>
                                        <td>
                                            <input value="@Model.TravProg[0]" name="stepNo" class="form-control border-0" readonly/>
                                        </td>
                                        <td>
                                            <input value="@Model.TravProg[1]" name="task" class="form-control border-0" readonly />
                                        </td>
                                        <td>
                                            @if (Model.TravProg[2] == "t")
                                            {
                                                <div class="d-flex">
                                                    <input class="form-control border-2 border-dark" name="firstPara"/>
                                                    <input class="form-control border-2 border-dark mx-2" name="secPara"/>
                                                    <input class="form-control border-2 border-dark" name="thirdPara"/>
                                                </div>
                                            }
                                            else
                                            {
                                                <input class="form-control w-100 border-2 border-dark" name="singlePara" />
                                            }
                                        </td>
                                    </tr>
                                    </form>
                                }                              
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (!Model.WorkingStat)
                    {
                        Write("You are currently viewing the document, click start to start working. Thank you!");
                    }
                    else
                    {
                        <button class="btn btn-primary" onclick="document.getElementById('travform').submit()">Submit</button>
                    }
                </div>
            </div>        
        </div>
    </div>

    <div class="modal fade" id="docuFrame" data-bs-backdrop="true" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Document</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <iframe class="border-3 border-dark" style="min-height:600px; max-height:600px; width:100%" id="docFrame" src=""></iframe>
                </div>
            </div>
        </div>
    </div>

    <form class="modal fade" data-bs-backdrop="static" id="problemlogForm" data-bs-keyboard="true" asp-route-asd="" asp-controller="Work" asp-action="SubmitProblemLog">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title fs-5">Problem Log</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeproblog"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Log Date
                                    </th>
                                    <th>
                                        Affected Part.
                                    </th>
                                    <th>
                                        Document No.
                                    </th>
                                    <th>
                                        Part No.
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Problem/Concern
                                    </th>
                                    <th>
                                        Reported By
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-control" value="@DateTime.Now.ToShortDateString()" name="logdate" readonly />
                                    </td>
                                    <td>
                                        <input class="form-control" id="affectedpn" value="" placeholder="Required" name="affected" required />
                                    </td>
                                    <td>
                                        <input class="form-control" id="docno" value="" placeholder="Required" name="docno" required />
                                    </td>
                                    <td>
                                        <input class="form-control" value="@Model.AssyNo" name="partno" readonly />
                                    </td>
                                    <td>
                                        <input class="form-control" id="desc" value="" placeholder="Required" name="desc" required />
                                    </td>
                                    <td>
                                        <input class="form-control" id="probcon" value="" placeholder="Required" name="probcon" required />
                                    </td>
                                    <td>
                                        <input class="form-control" value="@EN[0]" name="reportedby" readonly />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                   @if (Model.WorkingStat)
                    {
                        <input type="submit" class="btn btn-primary" />
                    }
                    else
                    {
                        Write("You are currently viewing the document, click start to start working. Thank you!");
                    }
                </div>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $('#problemlogForm').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            document.getElementById('closeproblog').click();
                            document.getElementById('affectedpn').value = '';
                            document.getElementById('docno').value = '';
                            document.getElementById('desc').value = '';
                            document.getElementById('probcon').value = '';
                        } else {
                            console.error('Form submission failed: ' + response.message);
                        }
                    },
                    error: function (error) {
                        console.error('An error occurred: ' + error.statusText);
                    }
                });
            });
        });
    </script>

    <form asp-controller="Work" asp-action="PauseWork" asp-route-docNo="@Model.DocumentNumber" asp-route-EN="@EN[0]" asp-route-sesID="@Model.SessionID" class="modal fade" id="pausemodal" data-bs-backdrop="false" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Pause Work</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label class="form-label">Pause Reason</label>
                        <textarea class="w-100" style="max-height:450px; min-height:450px" id="reasontext" name="reason" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-evenly">
                        <button class="btn" type="button" onclick="SetReason('Timeout')">Uwian</button>
                        <button class="btn" type="button" onclick="SetReason('Breaktime')">Breaktime</button>
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>

<script>
    function SetReason(reason) {
        document.getElementById('reasontext').value = reason;
        document.getElementById('pausemodal').submit();
    }
</script>

<script>
    function WhichDev(docName)
    {
        document.getElementById('closeoffcanvas').click();
        var Frame = document.getElementById('docFrame');

        var baseUrl = '@Url.Action("ShowDoc", "MTI", new {docunumber = Model.DocumentNumber})';
        Frame.src = baseUrl + '&whichDoc=' + docName;
    }
</script>

<script>
    function SetDoc(doc) {
        document.getElementById('closeoffcanvas').click();
        var Frame = document.getElementById('docFrame');

        var baseUrl = '@Url.Action("ShowDoc", "MTI", new {docunumber = Model.DocumentNumber})';
        Frame.src = baseUrl + '&whichDoc=' + doc;
    }
</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>



