@model IEnumerable<AccountModel>

@{
    ViewData["Title"] = "DMD Accounts";
}


<div class="container">
    <div class="w-100 d-flex justify-content-end my-2">
        <a class="btn btn-secondary" onclick="document.getElementById('createuser').style.display = 'block'">Create User</a>
    </div>
    <table class="table table-bordered border-secondary border-1 table-hover text-center">
        <thead class="thead">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Role
                </th>
                <th>
                    Email
                </th>
                <th>
                    Username
                </th>
                <th>
                    Password
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        string thisEmail = item.Email + item.Sec + item.Dom;
                        <tr>
                            <td>
                                @item.AccName
                            </td>
                            <td>
                                @item.Role
                            </td>
                            <td>
                                @thisEmail
                            </td>
                            <td>
                                @item.Username
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-secondary" onclick="userandpass('@item.Username', '@item.Password')">Password</button>
                                </div>
                            </td>
                            <td>
                                <div class="w-100 d-flex justify-content-between">
                                    <div class="w-100">
                                        <button class="btn btn-success w-100" onclick="editAccount('@item.AccName', '@item.Email', '@item.Username', '@item.Password', '@item.Sec', '@item.Dom', '@item.AccID', '@item.Role', '@item.UserID')">Edit</button>
                                    </div>
                                    <div class="mx-1">
                                    </div>
                                    <div class="w-100">
                                        <button class="btn btn-danger w-100" onclick="deleteAccount('@item.AccName', '@item.Email@item.Sec@item.Dom', '@item.Username', '@item.Password', '@item.AccID', '@item.Role', '@item.UserID')">Delete</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<script>
    function deleteAccount(name, email, user, pass, acc, role, userid) {
        document.getElementById('createuser').style.display = 'none';
        document.getElementById('pass').style.display = 'none';
        document.getElementById('edituser').style.display = 'none';
        document.getElementById('deleteuser').style.display = 'block';

        document.getElementById('deleteaccid').value = acc;
        document.getElementById('deletename').value = name;
        document.getElementById('deleteemail').value = email;
        document.getElementById('deleteuserid').value = userid;
        document.getElementById('deleteusername').value = user;
        document.getElementById('deleterole').value = role;
        document.getElementById('deletepassword').value = pass;
    }
</script>

<div class="modal-content" id="deleteuser" style="min-width:400px">
    <div class="d-flex w-100 justify-content-between">
        <h4 class="text-center w-100">Delete this account?</h4>
        <button class="btn btn-danger modal-close" onclick="document.getElementById('deleteuser').style.display = 'none'">X</button>
    </div>
    <hr />
    <form asp-controller="Admin" asp-action="DeleteAccount" method="post">
        <input id="deleteaccid" name="AccID" hidden />
        <div>
            <label class="form-label">
                Account Name
            </label>
            <input class="form-control" id="deletename" readonly />
        </div>
        <div>
            <label class="form-label">
                User ID
            </label>
            <input class="form-control" id="deleteuserid" readonly />
        </div>
        <div>
            <label class="form-label">
                Role
            </label>
            <input class="form-control" value="" id="deleterole" readonly />
        </div>
        <div>
            <label class="form-label">
                Email
            </label>
            <input class="form-control" value="" id="deleteemail" readonly />
        </div>
        <div>
            <label class="form-label">
                Username
            </label>
            <input class="form-control" value="" id="deleteusername" readonly />
        </div>
        <div>
            <label class="form-label">
                Password
            </label>
            <input class="form-control" value="" id="deletepassword" readonly />
        </div>
        <div class="w-100 d-flex justify-content-center">
            <input type="submit" class="btn btn-danger mt-2" value="Delete" />
        </div>
    </form>
</div>

<script>
   function editAccount(name, email, user, pass, sec, dom, acc, role, userid) {

        document.getElementById('createuser').style.display = 'none';
        document.getElementById('pass').style.display = 'none';
        document.getElementById('deleteuser').style.display = 'none';

        var Sec = document.getElementById('editsec');
        var Dom = document.getElementById('editdom');
        var Role = document.getElementById('editrole');
        
        document.getElementById('accid').value = acc;
        document.getElementById('editname').value = name;
        document.getElementById('editemail').value = email;
        document.getElementById('editusername').value = user;
        document.getElementById('editpassword').value = pass;
        document.getElementById('edituserid').value = userid;


        for (var i = 0; i < Sec.options.length; i++) {
            if (Sec.options[i].value === sec) {
                Sec.selectedIndex = i;
                break;
            }
        }

        for (var i = 0; i < Dom.options.length; i++) {
            if (Dom.options[i].value === dom) {
                 Dom.selectedIndex = i;
                 break;
            }
        }

        for (var i = 0; i < Role.options.length; i++) {
            if (Role.options[i].value === role) {
                Role.selectedIndex = i;
                break;
            }
        }

        document.getElementById('edituser').style.display = 'block';
    }
</script>

<div class="modal-content" id="edituser">
    <div class="d-flex w-100 justify-content-between">
        <h4 class="text-center w-100">Edit User</h4>
        <button class="btn btn-danger modal-close" onclick="document.getElementById('edituser').style.display = 'none'">X</button>
    </div>
    <hr />
    <form asp-controller="Admin" asp-action="EditAccount" method="post">
        <input id="accid" name="AccID" hidden />
        <div>
            <label class="form-label">
                Account Name
            </label>
            <input class="form-control" id="editname" name="AccName" required />
        </div>
        <div>
            <label class="form-label">
                User ID
            </label>
            <input class="form-control" id="edituserid" name="UserID" readonly />
        </div>
        <div>
            <label class="form-label">
                Role
            </label>
            <div>
                <select class="form-select w-50" id="editrole" name="Role">
                    @foreach (var role in Enum.GetValues(typeof(Roles)))
                    {
                        <option value="@role.ToString()">@role.ToString()</option>
                    }
                </select>
            </div>
        </div>
        <div>
            <label class="form-label">
                Email
            </label>
            <div class="d-flex">
                <input class="form-control" value="" id="editemail" name="Email" required />
                <select class="form-select" id="editsec" name="Sec">
                    <option>&#64;pimes</option>
                    <option>&#64;gmail</option>
                    <option>&#64;outlook</option>
                    <option>&#64;yahoo</option>
                </select>
                <select class="form-select" id="editdom" name="Dom">
                    <option>.com.ph</option>
                    <option>.com</option>
                </select>
            </div>
        </div>      
        <div>
            <label class="form-label">
                Username
            </label>
            <input class="form-control" value="" id="editusername" name="Username" required />
        </div>
        <div>
            <label class="form-label">
                Password
            </label>
            <input class="form-control" value="" id="editpassword" name="Password" required />
        </div>
        <div class="w-100 d-flex justify-content-center">
            <input type="submit" class="btn btn-primary mt-2" />
        </div>
    </form>
</div>

<script>
    function userandpass(user, pass) {
        document.getElementById('pass').style.display = 'block';
        document.getElementById('username').value = user;
        document.getElementById('password').value = pass;
    }
</script>

<div class="modal-content w-auto h-auto" id="pass">
    <div class="modal-close">
        <button class="btn btn-danger" onclick="document.getElementById('pass').style.display = 'none'">X</button>
    </div>
    <div class="modal-body w-100 d-flex justify-content-center">
        <div class="w-100">
            <table class="text-center">
                <thead>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input id="username" value="" class="border-0 text-center" readonly />
                        </td>
                        <td>
                            <input id="password" value="" class="border-0 text-center" readonly />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-content border-dark border-2 w-auto h-auto" id="createuser">
    <div class="modal-close">
        <button class="btn btn-danger" onclick="document.getElementById('createuser').style.display = 'none'">X</button>
    </div>
    <div class="modal-header w-100 border-dark border-2 mt-0">
        <p class="modal-title w-100 text-center fw-bolder">Create User</p>
    </div>
    <div class="modal-body">
        <form asp-controller="Admin" asp-action="CreateAccount">
            <div class="input-group flex-column">
                <label class="form-label">
                    Account Name:
                </label>
                <input class="form-control w-50" name="accname" required />
            </div>
            <div class="input-group flex-column">
                <label class="form-label">
                    Role:
                </label>
                <div>
                    <select class="form-select w-50" name="role" required>
                        <option value="" selected hidden>Select Role</option>
                        @foreach (var role in Enum.GetValues(typeof(Roles)))
                        {
                            <option value="@role.ToString()">@role.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="input-group flex-column">
                <label class="form-label">
                    Email:
                </label>
                <div class="d-flex">
                    <input class="form-control" name="email" required/>
                    <select class="form-select" name="sec">
                        <option>&#64;pimes</option>
                        <option>&#64;gmail</option>
                        <option>&#64;yahoo</option>
                        <option>&#64;outlook</option>
                    </select>
                    <select class="form-select" name="dom">
                        <option>.com.ph</option>
                        <option>.com</option>
                    </select>
                </div>
            </div>
            <div class="input-group flex-column">
                <label class="form-label">
                    Username:
                </label>
                <input class="form-control w-50" name="username" required />
            </div>
            <div class="input-group flex-column">
                <label class="form-label">
                    Password:
                </label>
                <input class="form-control w-50" name="password" required />
            </div>
            
            <div class="w-100 d-flex justify-content-center my-2">
                <input type="submit" class="btn btn-primary w-50" />
            </div>
        </form>
    </div>
</div>



